*{
    box-sizing: border-box;
}
body{
    background-color: grey;
    margin: 2px 25px;
}
.containerBox{
    float: left;
    height: 60%;
    width: 240px;
    padding: 0px 4px;
    border: .2px solid black;
    background-color: white;
    margin: 1px 2px 3px 2px;
}
.ImageBox{
    margin: 57.78px 0px 57.8px;
}
img:hover{
    height: 150px;
    width: 200px;
}
img{
    display: block;
    width: 90%;
    margin: 0px 0px 8px;
    padding: 0px 8px;
    align-items: center;
}
.contentBox{
    display: block;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px 4px;
    text-align: center !important;
}

.priceSymbol{
    font-size: 12px;
    color: #b12704;
}
.actualPrice{
    font-size: 21px;
    color: #b12704;
}
.strikePrice{
    font-size: 13px;
}
.dilevery{
    font-size: 14px;
}
.shoeLink:hover{
    color: #007815;
    cursor: pointer;
}