body{
    font-family: "Poppins", sans-serif;
    color: #1f1f1f;
}

#title{
    background-image: linear-gradient(to right bottom, #f5450a,#e76cf0);
    color: #1f1f1f;
}

h1{
    font-family: "Poppins", sans-serif;
    line-height: 1.5;
    font-size: 3.5rem;
    font-weight: bolder;
    color: #fff;
}

h2{
    font-family: "Poppins", sans-serif;
    line-height: 1.5;
    font-size: 2rem;
    font-weight: bold;
    color: #1f1f1f;
}

h3{
    font-family: "Poppins", sans-serif;
    font-weight: bolder;
    color: #1f1f1f;
}

.icon{
    color: #f24bd9;
    margin-bottom: 5%;
}

.icon:hover{
    color: #e37430;
}

.container-fluid{
    padding: 3% 15% 7%;
}

/* nav-bar */
.navbar{
    padding: 0 0 4.5rem;
}

.navbar-brand{
    font-family: IBM Plex Sans Arabic, Ubuntu;
    font-weight: bold;
    font-size: 2.5rem;
}

.nav-item{
    padding: 0 18px;
}

.nav-link{
    font-family: "Poppins", sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
}

/* Download buttons */
.download-button{
    margin: 5% 3% 5% 0;
}

/* Iphone Image */
.iphone-img{
    width: 60%;
    position: absolute;
    right: 30%;
}
.rotate-25{
    transform: rotate(25deg);
}

/* features */
#features{
    padding: 7% 15%;
    text-align: center;
    line-height: 1.5;
    background-color: #fff;
    z-index: 1;
    position: relative;
}

.feature-box{
    padding: 5%;
}

/* testimonial */
#testimonials{
    text-align: center;
    background-image: linear-gradient(to left bottom, #b4f558,#0f4cf5);
    color: #fff;
}

.carousel-item{
    padding: 7% 15%;
}
.testimonial-img{
    border-radius: 100%;
    width: 10%;
    margin: 20px;
}

/* press */
#press{
    background-image: linear-gradient(to right bottom, #b4f558,#0f4cf5);
    text-align: center;
    padding-bottom: 3%;
}
.press-img{
    width: 15%;
    margin: 20px 20px 50px;
}

/* pricing */
#pricing{
    padding: 100px;
    text-align: center;
}
.pricing-coloumn{
    padding: 3% 2%;
}

/* Call to Action */
#cta{
    background-image: linear-gradient(180deg, #e76cf0, #b4f558);
    text-align: center;
    padding: 100px 15% 40px;
}

/* footer */
#footer{
    background-color: #fff;
    text-align: center;
    padding: 100px 15% 20%;
}

.SnapSpace{
    padding-left: 25px;
    padding-right: 25px;
}
.social{
    padding-bottom: 5%;
}

@media (max-width: 1028px) {
    #title{
        text-align: center;
    }
    .iphone-img{
        position: static;
        transform: rotate(0);
    }
    
}