*{
    margin: 0px;
}
body{
    display: flex;
    justify-content: center;
    overflow-y: hidden;
    overflow-x: hidden;
    margin-left: 150px;
    margin-top: 70px;
    background-color: green;
}
.product{
    position: relative;
    /* border: 1px solid black; */
    background-color: aliceblue;
    border-radius: 15px;
    height: 600px;
    width: 800px;
    flex-wrap: wrap;
}

.productPhoto{
    /* border: 2px solid orange; */
    border-radius: 15px;
    background-image: linear-gradient(to bottom right, yellow, green );
    position: relative;
    top: 6%;
    left: -6%;
    width: 380px;
    
}
.fltLeft{
    float: left;
    margin: 10px;
    color: white;
}
.fltRight{
    float: right;
    margin: 10px;
    color: white;
}
#primeApple{
    position: relative;  
    top: 30px;
    left: -22%;
    /* border: 2px solid rgb(47, 61, 255); */
}
.ApplePhotoAlbum{
    /* display: block; */
    /* position: relative; */
    background-color: aliceblue;
    padding: 25px 35px ;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.ApplePhotoAlbum>img{
    width: 17%;
}

.ApplePhotoAlbum img:hover{
    border: 1px solid red;
}
.productInfo{
    display: inline-block;
    /* border: 2px solid yellow; */
    position: relative;
    left: 370px;
    bottom: 430px;
}
.title>h1{
    position: relative;
    padding-bottom: 10px;
    color: #db0f7c;
    font-size: 35px;
    
}
.title>span{
    font-size: 12px;
    margin: 5px 0px 5px 0px;
    padding: 5px 0px;
    color: chartreuse;
}

.price{
    position: relative;
    color: rgb(248, 23, 23);
    padding: 70px 0px;
    bottom: 50px;
}

.price>span{
    font-size: 60px;
}
.varient{
    position: relative;
    /* display: inline-block; */
    /* border: 2px solid red; */
    bottom: 100px;
}
.varient>h3{
    color: #4077e6;
}
.varient img:hover{
    border: 1px solid red;
}

.description{
    position: relative;
    /* border: 2px solid; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    bottom: 500px;
    left: 370px;
    color: #0e4a82;
    font-size: 20px;
}
.description>span{
    margin-bottom: 10px;
    color: #40e6b1;
    text-decoration: solid;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.BuyBtn{
    background-color: red;
    color: white;
    border-radius: 5px;
    font-size: 14px;
    text-align: center;
    padding: 15px 40px;
    float: right;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    position: relative;
    bottom: 75%;
    right: 32%;
}